#SetEnv REGISTER_GLOBALS 0
#
#Options -Indexes
#Options +FollowSymLinks
#
#ErrorDocument 404 /index.php
#
#RewriteEngine On
#RewriteRule ^(favicon\.ico|robots\.txt|sitemap\.xml|firststyle\.css|gb\.png|task5\.css|task5\.html|task6\.php|task7\.js|task3\.css|task1\.css|jquery-3\.4\.1\.min\.js|ajax\.php|task1\.js|setwalls\.ru-6896\.jpg|Kosmos\.jpg) - [NC,L]
#RewriteRule ^(.*)$ task3.php [QSA,L]

RewriteEngine on

#RedirectMatch 403 /\..*$
ErrorDocument 404 /index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . task3.php

