
.button {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    padding: 12px 30px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
    transition: all 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
