header{
    width: 100%;
    background-color: deepskyblue;
    display: flex; /* Включаем режим Flexbox. */
    justify-content: space-between; /* Распределяем элементы внутри шапки */
    align-items: center; /* Выравниваем элементы вертикально по центру. */
}
body
{
    margin: 0;
    padding: 0;
}
.contacts > p {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}
.content{
    display: inline-block;
    width:59.999%;
    height: 500px;
    background-color: green;
    vertical-align: middle;
}
.sidebar{
    display: inline-block;
    width: 40%;
    height: 500px;
    background: yellow;
    vertical-align: middle;
    margin-left: -4px;
}
.maswin{
    display:inline-block;
    margin-left: 35px;
    margin-top: 25px;
    overflow: scroll;
    height: 400px;

    width: 90%;
    height: 90%;
    background: white;
    vertical-align: middle;
}
.logo {
    display: inline-block;
    margin-top: 10px;
    margin-right: 1px;
    background-size: cover;
}
.logo > a> img {
    width: 130px;
    height: 130px;
}
.container>nav>ul>li {
    margin-right: 15px;
    margin-top: -80px;
}
